# Importing the data from kaggle

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.9)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"hotsonhonet","key":"e6cb444362df8bdc68a95a96af34b13c"}'}

In [ ]:
!mkdir -p ~/.kaggle

In [ ]:
!cp kaggle.json ~/.kaggle/

In [ ]:
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d hotsonhonet/the-great-indian-hiring-challenge

Downloading the-great-indian-hiring-challenge.zip to /content
 41% 9.00M/21.8M [00:00<00:00, 33.0MB/s]
100% 21.8M/21.8M [00:00<00:00, 55.0MB/s]

In [ ]:
!ls

kaggle.json  sample_data  the-great-indian-hiring-challenge.zip

In [ ]:
from zipfile import ZipFile

with ZipFile("the-great-indian-hiring-challenge.zip", "r") as file:
    file.extractall()
file.close()

In [ ]:
!ls Participants_Data_TGIH

Participants_Data_TGIH

In [ ]:
!pwd

/content

In [18]:
train_loc = "/content/Participants_Data_TGIH/Participants_Data_TGIH/Train.csv"
test_loc = "/content/Participants_Data_TGIH/Participants_Data_TGIH/Test.csv"

eda_tntt = "/content/tntt_features_fromEDA_2.csv"

# Importing Modules

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline


from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import chi2, f_regression, mutual_info_regression, SelectKBest, SelectPercentile, RFE
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor, RandomForestRegressor
from xgboost import XGBRegressor

# Loading our Data

In [19]:
tntt_features = pd.read_csv(eda_tntt)
train_data = pd.read_csv(train_loc)
test_data = pd.read_csv(test_loc)

In [20]:
train_size = train_data.shape[0]
test_size = test_data.shape[0]

In [23]:
tntt_features.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [24]:
train_df = tntt_features.iloc[:train_size, :]
test_df = tntt_features.iloc[train_size:, :]

In [27]:
train_df = pd.concat([train_df, train_data[["UnitPrice"]]], axis = 1)

In [29]:
train_df.head()

   InvoiceNo  StockCode  Description  ...  Freq_CustomerID Freq_Country  UnitPrice
0       6141       1583          144  ...                0         2069       3.75
1       6349       1300         3682  ...                0          758       1.95
2      16783       2178         1939  ...                0           32       5.95
3      16971       2115         2983  ...                0          401       0.83
4       6080       1210         2886  ...                0          695       1.65

[5 rows x 66 columns]

In [30]:
test_df

        InvoiceNo  StockCode  ...  Freq_CustomerID  Freq_Country
284780       3139       1709  ...                0          2069
284781        617        510  ...                0           401
284782      14653        604  ...                0           244
284783       8634       1478  ...                0            17
284784      15546       3216  ...                0           401
...           ...        ...  ...              ...           ...
406824       7813       2487  ...                0           695
406825       8694       3069  ...                0           182
406826        915       1419  ...                0           758
406827       8156       1631  ...                0           401
406828      12020       2088  ...                0          2069

[122049 rows x 65 columns]

In [32]:
train_cols = list(train_df.columns)
features_label = train_df.drop(['InvoiceDate', 'Date', 'Time'], axis = 1)
features_label

        InvoiceNo  StockCode  ...  Freq_Country  UnitPrice
0            6141       1583  ...          2069       3.75
1            6349       1300  ...           758       1.95
2           16783       2178  ...            32       5.95
3           16971       2115  ...           401       0.83
4            6080       1210  ...           695       1.65
...           ...        ...  ...           ...        ...
284775       3408       1706  ...           758       1.65
284776      13982       2184  ...           182       0.65
284777       6641        667  ...            32       8.50
284778      13820       1576  ...             0       3.45
284779      11042       2603  ...            17       0.75

[284780 rows x 63 columns]

# Models

In [40]:
x_train, x_test, y_train, y_test = train_test_split(features_label.iloc[:, :-1], features_label.iloc[:, -1], test_size = 30, random_state = 30)

In [41]:
dtr = DecisionTreeRegressor(criterion='mse')
adaboost = AdaBoostRegressor(base_estimator=dtr)

adaboost.fit(x_train, y_train)

AdaBoostRegressor(base_estimator=DecisionTreeRegressor(ccp_alpha=0.0,
                                                       criterion='mse',
                                                       max_depth=None,
                                                       max_features=None,
                                                       max_leaf_nodes=None,
                                                       min_impurity_decrease=0.0,
                                                       min_impurity_split=None,
                                                       min_samples_leaf=1,
                                                       min_samples_split=2,
                                                       min_weight_fraction_leaf=0.0,
                                                       presort='deprecated',
                                                       random_state=None,
                                                       splitter='best'),
                  learning_rate=1.0, loss='linear', n_estimators=50,
                  random_state=None)

In [43]:
preds = adaboost.predict(x_test)
score = mse(preds, y_test)
score = score**0.5
score

1.810666543937158

In [45]:
t_features = test_df.drop(['InvoiceDate', 'Date', 'Time'], axis = 1)
t_features

        InvoiceNo  StockCode  ...  Freq_CustomerID  Freq_Country
284780       3139       1709  ...                0          2069
284781        617        510  ...                0           401
284782      14653        604  ...                0           244
284783       8634       1478  ...                0            17
284784      15546       3216  ...                0           401
...           ...        ...  ...              ...           ...
406824       7813       2487  ...                0           695
406825       8694       3069  ...                0           182
406826        915       1419  ...                0           758
406827       8156       1631  ...                0           401
406828      12020       2088  ...                0          2069

[122049 rows x 62 columns]

In [51]:
t_preds = adaboost.predict(t_features)
t_preds

array([1.65, 1.25, 2.1 , ..., 1.65, 3.95, 4.15])

In [54]:
t_preds = pd.DataFrame(t_preds, columns=["UnitPrice"])
t_preds.reset_index()
t_preds.to_csv("Submission.csv", index = False)